.current_order_list_container{
    height: 93%;
    width: 100%;
}
.current_order_list_title{
    height: 7%;
    width: 100%;
    text-align: center;
}
.current_order_list{
    height: 93%;
    width: 100%;
}