order_manager/static/node_modules/*
node_modules/
__pycache__/
*.pyc
.vscode/*
BasicBusinessManager/__pycache__/*
BasicBusinessManager/__pycache__/*.pyc
order_manager/static/dist/app.bundle.js
order_manager/static/dist/app.bundle.js.map
