.order_sender_container{
    position: relative;
    width: 100%;
    height: 100%;
}

.order_sender_menu_products_boxes_container{
    float: left;
    height: 100%;
    width: 79%;
}
.order_sender_current_orders_container{
    float: right;
    height: 100%;
    width: 20%;
}