{% extends "BasicBusinessManager/WebHtmls/Base.html" %}
{% block content %}
{% load static %}
   <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
   <!--CSS-->
   <!-- <link rel="stylesheet" type="text/css" href="{% static '/order_manager/components/main/styles-order_manager.css' %}"> -->
   <!--JS-->
   <script src="{% static 'dist/app.bundle.js' %}"></script>
   {% if request.user.is_authenticated %}
   <section> 
      {% csrf_token %}
      <div class="order_manager_containter">
      </div>
   </section>
   {%else%}
   {%endif%}
{% endblock %}